<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.github.xvzc.spoofdpi</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/spoofdpi</string>
		<string>-silent</string>
		<string>-enable-doh</string>
		<string>-dns-addr</string>
		<string>1.1.1.1</string>
		<string>-dns-port</string>
		<string>443</string>
		<string>-system-proxy=false</string>
		<string>-port</string>
		<string>8888</string>
		<string>-window-size</string>
		<string>1</string>
		<string>-timeout</string>
		<string>5000</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
